* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #ebe5e7;
    height: 96vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

#message {
    background-color: white;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: none;
}

#number-value {
    text-align: center;
    margin-bottom: 2rem;
    display: none;
    font-size: 6rem;
    font-family: cursive;
}

.number h1 {
    font-size: 6rem;
}

.event-key,
.event-location,
.event-which,
.event-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
}

.event-key p,
.event-location p,
.event-which p,
.event-code p {
    background-color: aquamarine;
    padding: 0.3rem 3rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    font-size: smaller;
}

.event-key h4,
.event-location h4,
.event-which h4,
.event-code h4 {
    margin-bottom: 0.5rem;
}